<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body
        {
        background-image: url("https://images.everydayhealth.com/images/easy-ways-to-protect-your-kidneys-01-alt-1440x810.jpg");
        background-size: cover;
        }
        h3.big
        {
        line-hight: 1.8;
        }
  </style>
</head>
<body>
<br>
<<div class="container">
  <div class="row">
    <div class="col-md-12 bg-light test-right">
      <a href="/Home" class="btn btn-ifo btn-lg">Home</a>
      <a href="/predict" class="btn btn-primary btn=lg">Predict</a>

    </div>
  </div>

  <center>
    <h2><strong>CHRONIC KIDNEY DISEASE PREDICTION</strong></h2>
      <h4><strong>A Machine Learning Web App,Built with Flask</strong></h4>
  </center>
    <form action="/pred", method="post",>

        <div class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Enter your blood_urea">
            <input class="form-control" type="text" placeholder="Enter your blood glucose random">

             <select class="form-control" required>
                  <option>Select anemia or not</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
             </select>

             <select class="form-control" required>
                  <option>Select coronary artery disease or not</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
             </select>

             <select class="form-control" required>
                  <option>Select pus_cell or not</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
             </select>

             <select class="form-control"  required>
                  <option>Select red_blood_cell level</option>
                  <option value="low">Low</option>
                  <option value="normal">Normal</option>
                  <option value="high">High</option>
             </select>

             <select class="form-control" required>
                    <option>Select diabetesmellitus or not</option>
                    <option value="yes">Yes</option>
                  <option value="no">No</option>
             </select>

             <select class="form-control" required>
                   <option>Select pedal_edema or not</option>
                   <option value="yes">Yes</option>
                   <option value="no">N0</option>
             </select>
            <br><br>
            <button type="submit" class="btn btn-primary my-1">Predict</button>
        </div>
    </form>

</body>
</html>